.header {
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: rgb(0, 0, 0);
  background: transparent; // ou une couleur si besoin

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .logo {
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(255, 255, 255, 0.60);
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          border: 1px solid rgba(255, 255, 255, 0.70);

    a {
      font-family: "Aboreto", cursive;
      border-radius: 10px;
      color: var(--secondary-color);
      font-size: 2.5rem;
      padding: 0px 10px 10px 10px;
      text-decoration: none;
      position: relative;

      &::after {
        content: "BY Fanny";
        position: absolute;
        bottom: 0px;
        right: 70px;
        font-size: 1.4rem;
        font-family: cursive;
        font-style: italic;
        color: #de277b;

      }

      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
        padding: 5px;

        &::after {
          bottom: -4px;
          right: 30px;
          font-size: 1rem;
        }
      }
    }
  }

  .desktopNav {
    display: flex;
    align-items: center;
    width: auto;
    gap: 10px;
    ul {
      display: flex;
      gap: 6px;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a,
        button {
          display: block;
          height: 45px;
          background: rgba(255, 255, 255, 0.60);
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          border: 1px solid rgba(255, 255, 255, 0.70);
          padding: 10px;
          border-radius: 5px;
          font-size: clamp(0.6rem, 2.5vw, 1rem);
          text-decoration: none;
          color: inherit;
          cursor: pointer;
          &:hover {
            color: #718096;
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .mobileNav {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      position: relative;
    }

    .burgerButton {
      background: none;
      border: none;
      cursor: pointer;
      .burgerIcon {
        width: 30px;
        height: 30px;
        stroke: var(--secondary-color);
      }
    }

    .mobileMenu {
      position: absolute;
      top: 50px; // Ajuster selon vos besoins
      right: 0;
      background: rgba(255, 255, 255, 0.60);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.70);
      border-radius: 10px;
      padding: 10px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          a,
          button {
            display: block;
            height: 45px;
            background: transparent;
            border: none;
            padding: 10px;
            border-radius: 10px;
            font-size: clamp(0.6rem, 2.5vw, 1rem);
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            &:hover {
              color: #718096;
            }
          }
        }
      }
    }
  }

  .logoutButton {
    background: rgba(255, 0, 111, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 0, 111, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-size: clamp(0.6rem, 2.5vw, 1rem);
    cursor: pointer;
    &:hover {
      color: #718096;
    }
  }

  .login {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.05);
    width: max-content;
    height: auto;
    border-radius: 50%;
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color: #de277c18;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media screen and (max-width: 768px) {
      margin-top: 80px;
    }
  }

  .admin {
    background: none;
    button,
    a {
      border: none;
      color: var(--tertiary-color);
    }
  }
}
