
@use "./styles/bases.scss";
@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";


// debug Element
// * {
//   outline: 1px solid red; /* Permet de voir les bordures de tous les éléments */
// }
:root {
  --font-size: 14px;
  --background: #ffffff;
  --foreground: #171717;
	--bg-color: #E2E1DD;
	--primary-color: #e2e1dd;
	--secondary-color: #151410;
	--tertiary-color: #de277b;
  --tertiary-color-hover: #de277ca8;
	--text-color: #151410;
	--textPrimary-color: #151410;
	--hover-color: #de277b;
	--hover-bg-color: #151410;
}
.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}
.merriweather-sans-light {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

.okiweb {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 1050px) {
    display: none;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Aboreto", cursive;
  overflow-x: hidden;

  p {
    font-family: "Merriweather Sans", sans-serif; 
    font-size: var(--font-size);
  }

  a {
    cursor: pointer;
  }

}
.h-26 {
  height: 120px;
}

.bg-0 {
  background-color: #ffffff00;
}

.bg-blur {
  background: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(3px); /* Compatibilité Safari */
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255,255,255,0.25);
}

.button-nav-section {
  position: fixed;
  bottom: 60px;
  right: 50px;
  z-index: 10000;
 
  @media screen and (max-width: 768px) {
    display: none;
    
  }
}


/* Ajoutez ce CSS dans votre globals.scss par exemple */
.spinner {
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #3498db; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.8s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



h2 {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-family: 'Merriweather Sans', sans-serif;
  
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    
  }
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;

  @media screen and (max-width: 768px) {
    font-size: 1.1rem;
    
  }
}

.calendar-link {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--tertiary-color);
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .calendar-icon {
    margin-right: 5px;
    width: 50px;
    height: 50px;
  }
}
.container {
  width: 100%;
}

.admin-comment-form {
  position: relative;
  z-index: 10000;
  background-color: var(--text-color);
}

.section1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 0;

  .section1-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @media screen and (max-width: 768px) {
      top: -80px;
    }
  }
}

.section2 {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: visible; 
  background-color: #ffffff;
  padding: 50px;
  justify-content: center;
  align-items: center;  
  box-sizing: content-box;
}

.social-media-embed {
  border-radius: 10px;
  height: 100vh;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;

  * {
    border-radius: 10px;
    overflow: visible;
  }
  .fb-post {
    width: calc( 100vh / 20 * 9) !important;
    height: 100% !important;
    aspect-ratio: 9 / 20;

    @media screen and (max-width: 768px) {
      aspect-ratio: 9 / 16;
    }
  }
}
.mobile-section2, .mobile-section3, .mobile-section7 {
  position: relative;
}
.admin-section2 {
  position: absolute;
  top: 0;
  left: 0;
}


.section3 {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: #ffffff;
  padding: 50px 20px;

  @media screen and (max-width: 768px) {
  display: none;  
  }
}

.slider-container {
  background-color: white;
  position: relative;
  z-index: 999;
  .pin-spacer {
    width: 100vw, !important;
    max-width: 100vw !important;
  }
}

.section4 {
  height: 50vh;
  margin: 20px 0;

  @media screen and (max-width: 768px) {
    height: 70vh;
    margin: 20px 0;
  }
}

.section4-container {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 20px 0;

  .section4-masonry {
    height: 50vh;

    @media screen and (max-width: 768px) {
      height: 70vh;
    }
  }

  .reassurance {
    padding: 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .reassurance-content {
    padding-top: 10px;
    padding-bottom: 10px;
  }      
}



.section5 {
  width: 100%;
  overflow: hidden; 
  position: relative; 
  display: flex;
  flex-direction: column;

  .section5-content {

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    -webkit-overflow-scrolling: touch;
    font-size: 1.1rem;
    font-family: fantasy;
    line-height: normal;
    color: var(--tertiary-color);
    padding: 20px;
    gap:20px;

    .box-testi {
      flex: 0 0 auto; /* Empêche les éléments de se rétrécir ou de s'étirer */
      width: 20vw;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0.1em 0.5em -0.125em rgb(222, 39, 123), 0 0px 0 0px rgb(222, 39, 123);
      position: relative;

      span {
        display: block;
        word-wrap: break-word;
        /* Correcting text-indent */
        text-indent: 3rem;
      }

      &::before {
        content: "\201C";
        position: absolute;
        top: -1rem;
        font-size: 5rem;
        color: var(--tertiary-color);
      }

      &::after {
        content: "\201D";
        position: absolute;
        bottom: -4.5rem;
        right: 0;
        font-size: 5rem;
        color: var(--tertiary-color);
      }
    }

    .box-testi8 {
      color: #000000;
    }
  }
}
.section6 {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 0 40px;
}
.upload-form {
  pointer-events: auto !important;
  z-index: 1000 !important;
  position: relative;
}

.comment-form {
  pointer-events: auto !important;
  z-index: 1000 !important;
  position: relative;
}

.network {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}
.network__share-count {
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  overflow: visible;
  width: 0;
  margin-top: 3px;
  font-size: 12px;
}
.network__share-button {
  cursor: pointer;
}
.network__share-button:hover:not(:active) {
  opacity: 0.75;
}
.network__custom-icon {
  width: 32px;
  height: 32px;
}

.section7 {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100vw;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px 0 120px 0;
  @media screen and (max-width: 768px) {
    margin-bottom: 100px;
  }
}
.mobile-section7 {
  margin-bottom: 100px;
}
// Admin
.admin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Merriweather Sans", sans-serif;

    header {
       width: 100%;

       nav {
         width: 100%;
         .container-header {
           width: 100%;
         }
       }
    }
    

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px;
      padding: 20px;
      width: 100%;
    }

  .form-newsletter {     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #718096;
    border-radius: 10px;
    gap: 10px;
    em {
      font-style: italic;
    }
    ul {
      list-style-type: disc;
      padding-left: 20px;
    }
    ol {
      list-style-type: decimal;
      padding-left: 20px;
    }
    li {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 10px;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 10px;
    }
    font-family: 'Courier New', Courier, monospace;
    .editor {
      display: flex; 
      flex-direction: column; 
      gap: 15px;
    }
    .editor p {
      border-bottom: #718096 dotted 1px;
  
    }  
  }
}
.phone-wrapper {
  perspective: 800px;
  perspective-origin: center;
}
.phone-wrapper:hover {
  transform: rotateY(10deg);
  transition: transform 0.5s ease;
}
