/* Le conteneur global */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  /* Perspective pour l’effet 3D */
  perspective: 3500px;
  perspective-origin: bottom;
}
.titleH1{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  text-align: center;
  font-weight: 900;
  color: pink;
}
/* L’image de fond en fill (assurée par Next Image) */
.bgImage {
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  scale: 1.2;
}

/* Le wrapper du smartphone */
.phoneWrapper {
  position: absolute;
  bottom: -90px;       /* ou la valeur souhaitée */
  left: 50%;
  width: 60vw;
  pointer-events: none;
  z-index: 2;
  /* Centrage horizontal de base */
  transform: translate(-50%, 0);
  /* Active la 3D pour la rotation */
  transform-style: preserve-3d;

  @media screen and (max-width: 768px) {
    width: 120vw;
  }
}

/* Le conteneur interne (PNG + GIF) */
.phoneContainer {
  position: relative;
  width: 100%;
  height: auto;
}

/* L’image PNG du smartphone */
.phoneImg {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}

/* La zone qui contient le GIF */
.phoneScreen {
  position: absolute;
  top: 6%;    
  left: 37%;
  width: 32%;
  height: 68%;
  border-radius: 50px;
  object-fit: cover;
  pointer-events: none; 

  @media screen and (max-width: 768px) {
    border-radius: 15px;
  }
}
