.section7Left {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
    animation: scrollUpDwn 3s ease-in-out infinite;
    
    img {
      animation: scrollUpDwnShadow 3s ease-in-out infinite;
    }    
  }
  
  .section7Right {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;

    .news-form-M {
      box-sizing: content-box;
    }
  }

  @keyframes scrollUpDwn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scrollUpDwnShadow {
  0% {
    filter: drop-shadow(-9px 67px 18px #00000030);
  }
  50% {
    filter: drop-shadow(-11px 52px 05px #00000030);
  }
  100% {
    filter: drop-shadow(-9px 67px 18px #00000030);
    
  }
}