.adminMasonryJsx {
  position: relative;
  z-index: 10;
}

.adminCommentForm {
  position: relative;
  z-index: 10000;
  background-color: var(--text-color);
}

.section4 {
  height: 50vh;
  overflow-y: auto;
  background-color: #de277b80;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 10;
  padding: 0 10px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-radius: 20px;
  margin: 0 40px;

  // Styles pour scrollbars sur les navigateurs WebKit
  &::-webkit-scrollbar {
    width: 8px; /* largeur de la scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: #de277b00; /* couleur du fond */
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #de277b00; /* couleur du "pouce" */
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #de277b00; /* couleur au hover */
  }

  // Pour Firefox
  scrollbar-width: thin; 
  scrollbar-color: #f5f5f5 #de277b00;


  .myMasonryGrid {
    display: flex;
    margin-left: -10px; /* Réduit l'espace entre les colonnes */
    width: auto;
    padding: 10px;
    position: relative;
    z-index: 10;
    
    .cardGalery {
      position: relative;
      transition: transform 200ms ease, opacity 200ms ease;

      button {
        position: absolute;
        top: 5px;
        right: 5px;
        background: red;
        color: white;
        border-radius: 10px;
        font-size: 24px;
        cursor: pointer;
      }
    }
    .myMasonryGridColumn {
      padding-left: 10px; /* Réduit l'espace entre les colonnes */
      background-clip: padding-box;
    }
  
    .myMasonryGridColumn > div {
      margin-bottom: 10px; /* Réduit l'espace entre les images */
    }
  }

}

@media screen and (max-width: 768px) {
  
  .section4 {
    position: relative;
    z-index: 10;
    height: 70vh;
    overflow-y: auto;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 0 10px;
    border-top: 20px solid var(--tertiary-color);
    border-bottom: 20px solid var(--tertiary-color);
    border-radius: 20px;
    margin: 0 10px; 
  }
  
  .masonryGalery { 
    .myMasonryGrid {
      display: flex;
      margin-left: -10px; /* Réduit l'espace entre les colonnes */
      width: auto;
      padding: 10px;
      position: relative;
      z-index: 10;
      
      .cardGalery {
        position: relative;
        transition: transform 200ms ease, opacity 200ms ease;
  
        button {
          position: absolute;
          top: 5px;
          right: 5px;
          background: red;
          color: white;
          border-radius: 10px;
          font-size: 24px;
          cursor: pointer;
        }
      }
    }
  
    .myMasonryGridColumn {
      padding-left: 10px; /* Réduit l'espace entre les colonnes */
      background-clip: padding-box;
    }
  
    .myMasonryGridColumn > div {
      margin-bottom: 10px; /* Réduit l'espace entre les images */
    }
  }
}
